<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <springProperty name="appName" source="spring.application.name"/>

    <contextName>${appName}</contextName>
    <jmxConfigurator/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="gg.bayes" level="INFO"/>
    <logger name="gg.bayes.auditor" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
